.body-forms {
    width: 75%;
}

.btn-sections {
    display: flex;
    justify-content: space-between;
}
#searchInput {
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    gap: 5px;
    font-size: 0.8rem;
}
.right-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5%;
    gap: 10px;
}

.btn-export {
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    gap: 5px;
    font-size: 0.8rem;
}
.btn-export:hover {
    background-color: var(--color-primary-text);
    color: var(--color-white);
    border-color: var(--color-primary-text);
}
.submit-report {
    background-color: var(--color-primary-text);
    color: var(--color-white);
    border-color: var(--color-primary-text);
}

.tab-btn {
    border: 1px solid #D8D8D8;
    padding: 5px 10px;
}
.tab-btn:hover {
    cursor: pointer;
}
.active-tab {
    background-color: var(--color-primary-text);
    color: var(--color-white);
    border-color: var(--color-primary-text);
}
.tab-content {
    border-radius: 0 10px !important;
}
.section-header {
    color: var(--color-primary-text);
}

.title-next-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.save-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E54624;
    color: #FFF !important;
    padding: 5px 15px;
    border-radius: 5px;
    gap: 5px;
    font-size: 0.7rem;
    transition: background-color 0.3s ease;
}
.save-section:hover {
    background-color: #ba2605;
}

.outer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}
.title-selection {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary-text);
}
.subtitle-selection {
    font-size: 0.9rem;
    color: var(--color-label);
}
.container-selection {
    margin-top: 5%;
    display: flex;
    gap: 1.5%;
    position: relative;
}
.container-selection select {
    height: 2.2rem;
    width: 15rem;
    border: 1px solid #D8D8D8;
    border-radius: 7px;
    font-size: 0.75rem;
    padding: 0 2.5%;
    color: var(--color-label);
    cursor: pointer;
    transition: 0.3s ease;
}
.container-selection select:focus {
    border-color: var(--color-primary-text);
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.4);
    outline: none;
}

.container-selection select option {
    border: none;
    background-color: var(--color-white);
    color: var(--color-label);
    border-radius: 10px !important;
    margin-top: 20px;
}
option[disabled] {
    color: gray;
}
.container-selection button {
    background-color: var(--color-secondary-dark);
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--color-label);
    transition: 0.3s ease;
}
.container-selection button:hover {
    background-color: var(--color-secondary-light);
    scale: 1.05;
}
.container-selection button svg {
    height: 30%;
}